@font-face
{
	font-family: 'Montserrat';
	src: url( '../resources/fonts/Montserrat-Regular.ttf' );
}
@font-face
{
	font-family: 'Montserrat Bold';
	src: url( '../resources/fonts/Montserrat-Bold.ttf' );
}
@font-face
{
	font-family: 'Montserrat Light';
	src: url( '../resources/fonts/Montserrat-Light.ttf' );
}
@font-face
{
	font-family: 'Montserrat Italic';
	src: url( '../resources/fonts/Montserrat-Italic.ttf' );
}

body
{
	font-family: 'Montserrat';
	font-size: 13px;
}

.menu-ui
{
	margin: 8% 13%;
	display: flex;
	flex-direction: column;
}

.menu-ui .title
{
	font-family: 'Montserrat Bold';
}

.menu-ui .level
{
	margin-top: 10px;
	font-family: 'Montserrat Bold';
}

.container
{
	display: flex;
	flex-direction: row;
}

.separator
{
	width: 0px;
	height: 6px;

	border-radius: 10px;

	background-image: linear-gradient( 90deg, rgb(4, 0, 73) 0%, rgb(5, 0, 97) 100%, rgba(0,212,255,1) 100% );
}

.separator-wrapper
{
	width: 400px;
	height: 6px;

	margin-top: 5px;
	border-radius: 10px;

	background-color: rgba(0, 0, 0, 0.4);
}

.menu-ui
{
	transform: perspective( 1500px ) rotateY( 20deg );
}

.button
{
	margin-top: 10px;
	width: 400px;
	height: 65px;

	background-image: linear-gradient( -90deg, rgba(2,0,36,1) 0%, rgb(3, 0, 68) 100%, rgba(0,212,255,1) 100% );
	border-radius: 7px;

	color: rgb(228, 228, 228);

	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	align-items: center;

	transition: 0.355s;
}

.button:hover
{
	cursor: pointer;
	margin-left: -20px;
}

.button.selected
{
	margin-left: -20px;
	box-shadow: 0 0 6px 1px rgba(3, 0, 68, 0.3);
}

.button .title
{
	display: flex;
	flex-direction: row;

	margin: 3px;
}

.button .desc
{
	display: flex;
	flex-direction: row;

	margin: 3px;
}

.button .desc .time
{
	background-color: rgb(47, 127, 255);
	padding: 2px 5px;
	border-radius: 4px;
}

.button .desc .lvl
{
	margin-left: 5px;
	background-color: rgb(47, 127, 255);
	padding: 2px 5px;
	border-radius: 4px;
}

.button .img
{
	width: 50px;
	height: 50px;

	margin: 15px;
}

.card-ui
{
	width: 265px;
	height: 300px;

	background-image: linear-gradient( -90deg, rgba(2,0,36,1) 0%, rgb(3, 0, 68) 100%, rgba(0,212,255,1) 100% );
	border-radius: 7px;

	transform: perspective( 1500px ) rotateY( -20deg );

	color: rgb(228, 228, 228);
}

.card-ui .info
{
	display: flex;
	flex-direction: column;
}

.card-ui .title
{
	font-family: 'Montserrat Bold';
}

.card-ui img
{
	width: 120px;
	height: 120px;
}

.cards
{
	margin: 0 600px;
	position: absolute;

	top: 38%;
	transform: translateY(-50%);
}