@font-face
{
	font-family: 'Montserrat';
	src: url( '../resources/fonts/Montserrat-Regular.ttf' );
}
@font-face
{
	font-family: 'Montserrat Bold';
	src: url( '../resources/fonts/Montserrat-Bold.ttf' );
}
@font-face
{
	font-family: 'Montserrat Light';
	src: url( '../resources/fonts/Montserrat-Light.ttf' );
}
@font-face
{
	font-family: 'Montserrat Italic';
	src: url( '../resources/fonts/Montserrat-Italic.ttf' );
}

body
{
	font-family: 'Montserrat';
	font-size: 13px;
}

.container
{
	width: 100%;
	height: 100%;
}

.ui
{
	background-color: rgba( 0, 0, 0, 0.5 );
	padding: 10px;

	margin: 15px;

	float: right;

	min-width: 270px;
	height: 50px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	width: fit-content;

	border-radius: 50px;

	transition: 0.4s;
	position: relative;

	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.25);
}

@keyframes heartBeat {
	0% { transform: scale(1); }
	50% { transform: scale(1.1); }
	100% { transform: scale(1); }
}

.ui .far
{
	color: rgb(240, 137, 2);
	animation: heartBeat 0.9s infinite;
}

.ui .fas
{
	color: rgb(160, 0, 0);
}

.ui:hover
{
	height: 90px;
	border-radius: 8px;
}

.ui .mugshot img
{
	width: 50px;
	height: 50px;

	border-radius: 25px;
}

.ui .balance
{
	color: rgb(228, 228, 228);

	display: flex;
	flex-direction: column;
}

.ui .balance .bank .cash
{
	flex-direction: row;
}

.ui .status
{
	display: flex;
	flex-direction: column;

	padding-right: 10px;

	justify-content: center;
	align-items: center;
}

.ui .status .health
{
	max-width: 150px;
	
	width: 0px;
	height: 100%;
	border-radius: 7px;

	background-color: rgb(228, 228, 228);
	transition: 0.4s;
}

.ui .status .health-wrapper:hover
{
	height: 15px;
	border-radius: 20px;

	transition: 0.4s;
}

.ui .status .armor-wrapper:hover 
{
	height: 15px;
	border-radius: 20px;

	transition: 0.4s;
}

.ui .status .health-wrapper
{
	width: 150px;
	height: 5px;

	max-width: 150px;

	border-radius: 2.5px;

	background-color: rgba(190, 190, 190, 0.5);
	transition: 0.4s;
}

.ui .status .armor
{
	max-width: 150px;
	
	width: 0px;
	height: 100%;
	border-radius: 7px;

	background-color: rgb(228, 228, 228);
	transition: 0.4s;
}

.ui .status .armor-wrapper
{
	margin-top: 10px;

	width: 150px;
	height: 5px;

	max-width: 150px;

	border-radius: 2.5px;

	background-color: rgba(190, 190, 190, 0.5);
	transition: 0.4s;
}

.ui .balance
{
	position: absolute;
	float: right;
	bottom: 6px;

	display: flex;
	flex-direction: row;
}

.ui .balance span.cash
{
	margin-left: 5px;
}

.ui .balance .bank-i
{
	margin-left: 15px;
}

.ui .balance span.bank
{
	margin-left: 5px;
}

.ui .balance .user-i
{
	margin-left: 15px;
}

.ui .balance span.userid
{
	margin-left: 5px;
}